body {
  font-family: Roboto, Arial;
  margin: 0;
  z-index: 200;
}

/* Header starts here */

header {
  display: flex;
  height: 120px;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
}

#header-background {
  width: 100%;
  height: 120px;
  background: url(https://cdn.pixabay.com/photo/2018/08/15/13/10/galaxy-3608029_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 300;
}

.logo-container {
  width: 100px;
  margin-right: 12px;
  margin-left: 125px;

  margin-top: 8px;
}

header img {
  width: 80px;
  height: 80px;
  margin-top: 8px;
  border-style: solid;
  border-radius: 40px;
  border-width: 2px;
  border-color:white;  
  z-index: 400;
}

nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-size: 24px;
  margin-right: 125px;
}

nav div {
  padding-left: 20px;
  padding-right: 20px;
  width: 100px;
}

nav p {
  cursor: pointer;
  transition: opacity 0.15s, color 0.15; font-size: 0.15s;
}

nav p:hover {
  opacity: 0.5;
  color: lightcoral;
  font-size: 26px;
}


/* Section 1 starts here */

.section-1 {
  display: flex;
  margin-top: 120px;
  background-color: #1F2937;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 50px;
}

.main-text {
  font-size: 48px;
  color: white;
  margin-bottom: 0;
  margin-top: 2px;
  padding-right: 10px;
  padding-left: 70px;
  font-weight: 700;
  padding-bottom: 0;
}

.secondary-text-container {
  flex: 1;
  margin-top: 6px;
}

.secondary-text-container p {
  font-size: 18px;
  color: white;
  margin-top: 2px;
  padding-right: 30px;
  padding-left: 70px;
}

.image-container {
  display: flex;
  align-items: center;
  width: 506px;
  height: 400px;
  flex: 1;
  padding-right: 120px;
}

.section-1 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border-style: solid;
  border-color:blue;
}

button {
  background-color: #3882F6;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: none;
  width: 100px;
  margin-left: 68px;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

button:hover {
  background-color:#3163b3;
}

/* Section 2 starts here */

.section-2 {
  width: 100%;
  height: 400px;
  background-color: rgb(234, 225, 225);
}

.title-section-2 {
  text-align: center;
  margin-top: 0;
  padding-top: 28px;
  color: #1F2937;
  font-size: 28px;
  font-weight: 700;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  vertical-align: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 60px;
  column-gap: 35px;
}

.container-grid img {
  width: 97%;
  border: 4px solid blue;
  border-radius: 14px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.container-grid img:hover {
  opacity: 0.7;
}

.container-grid p {
  text-align: center;
  color: rgb(68, 66, 66);
}

/* Section 3 starts here */
.section-3 {
  height: 300px;
  background-color: #ccbbd0;
  display: flex;
  align-items: center;
  justify-content: justify;
}

.section-3 div{
  margin-left: 300px;
  margin-right: 300px;
}

.quote {
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
  font-size: 36px;
  font-style:italic;
  color: #1F2937;
}

.author {
  font-weight: 500;
  text-align:end;
}

/* Section 4 starts here */
.section-4 {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 225, 225);
}

.action-card {
  background-color:#3882F6;
  display: flex;
  border-radius: 8px;
  align-items: center;
  width: 800px;
  height: 120px; 
}

.action-text-container {
color: white;
flex: 1;
}

.action-text-container d {
  flex: 1;
}

.action-title {
  font-size: 18px;
  font-weight: 700;
  padding-left: 100px;
}
.action-text {
  font-size: 14px;
  padding-left: 100px;
}

.action-button {
  background-color: #3882F6;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid white;
  margin-right: 80px;
  width: 110px;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: background-color 0.15s color 0.15s;
}

.action-button:hover {
  background-color: white;
  color: #3882F6;
}
/* Footer starts here */
footer {
  background-color: #1F2937;
  height: 70px;
  display: flex;
  align-items: center;
}

footer p {
  text-align: center;
  flex: 1;
  font-size: 14px;
  color: white;
}
